header {
    align-items: center;
  }

.header-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 30px;
}

/* a:hover{
color: #0088CC;
}

a {
color: #0075B0;
} */

/*-------------------------------------------------------------------------------*/

#content {
max-width: 960px;
margin: 0 auto;
}

body {
background-color: #010203;
font-family: "Helvetica", sans-serif;
padding: 5px 25px;
font-size: 18px;
margin: 0;
color: #5427A1;
}

h1, h2, h3, h4, h5, h6 {
color: #5427A1;
font-family: "Helvetica", "Arial", sans-serif;
}

.bordered-r15 {
border-style: solid;
border-width: 3px;
border-radius: 15px;
border-color: #5427A1;
box-shadow: 2px 2px 5px #5427A1;
}

/*--------HOME/INDEX-----------------------------------------------------------*/

h2 {
    border-style: solid;
    border-width: 0px;
    border-color: #5427A1;
    border-bottom: 1px;
}

/*--------FOOTER-------------------------------------------------------------------*/

footer {
padding: 5px;
display: grid;
grid-template-columns: 2fr 1fr;
align-items: center;
}


@media screen and (max-width: 550px) {
.home-main-grid, nav ul, .home-banner {
    display: block;
}
}
